/* General styles for the app */
* {
  box-sizing: border-box;
}
body,
html,
#root {
  background: linear-gradient(
    #f8d7e8,
    #e0bbf2
  ); /* Gradiente de rosa y lavanda */
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
}
/* Background for the app */
.app-container {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 3rem; /* Mayor tamaño para la cabecera */
}

/* Contenedor principal */
.puzzle-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo de la imagen original */
.original-image-container {
  grid-column: 1 / 3; /* La imagen original está en la primera columna */
  text-align: center;
}

.original-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.destello {
  position: absolute;
  top: 30px;
  width: 80%;
  left: 50px;
  z-index: 10;
}
.sized {
  position: relative;
  z-index: 199;
}
.main-title {
  position: relative;
  grid-column: 3/6;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  /* border: 3px dashed #ff5c8a; */
}
.original-image {
  width: 400px; /* Aumentamos el tamaño de la imagen */
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Más sombra para la imagen */
}

/* Cuadrícula 2x2 con secciones fusionadas */
.game-container {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 1200px; /* Aumentamos el tamaño máximo del contenedor */
  margin: 1em;
  padding: 20px; /* Reducimos el padding */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3); /* Más sombra al contenedor */
}

/* El puzzle ocupa las columnas 2 y 4 fusionadas */
.puzzle-board-wrapper {
  grid-column: 1 / 3; /* Ocupa la primera y segunda columna (fusionado con la 4ta) */
  grid-row: 1 / 2; /* En la primera fila */
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Mayor padding */
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Más sombra */
  grid-column: 3/6;
}

.board-slot {
  padding-top: 100%;
  position: relative;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px dashed #ff5c8a;
}

.board-slot > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Las piezas se colocan en la primera fila de la segunda columna */
.pool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
}

.piece-stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px; /* Mayor tamaño para las piezas */
  height: 160px;
  border: 3px solid #ff5c8a;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Más sombra */
  transition: transform 0.3s ease;
}

.piece-stack:hover {
  transform: scale(1.1); /* Aumentamos el efecto hover */
}

.piece-stack > div {
  position: absolute;
}

/* Overlay para mostrar mensaje */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 30px;
}
.main-box {
  grid-column: 3/6;
}
.overlay h1 {
  font-size: 3.5em; /* Aumentamos el tamaño del título */
  margin-bottom: 30px;
}

.overlay p {
  font-size: 2em; /* Aumentamos el tamaño del texto */
}
.board-grid {
  gap: 5px;
}
/* Responsiveness */
@media (max-width: 768px) {
  .app-container {
    padding: 0;
    align-content: center;
    height: auto;
  }
  .game-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    padding: 10px; /* Reducimos el padding en dispositivos pequeños */
  }
  .board-container {
    grid-column: 1/2;
  }
  .main-title {
    padding: 20px 20px 0 20px;
    font-size: 1em;
  }
  .original-image {
    max-width: 90%; /* Hacemos la imagen más pequeña en dispositivos pequeños */
  }
  .original-image-container {
    grid-column: 2/4;
  }
  .pool-container {
    grid-column: 1 / 2;
  }

  .puzzle-board-wrapper {
    grid-column: 1 / 2; /* El tablero de puzzle ocupa la fila completa */
  }
  .puzzle-wrapper {
    padding: 10px;
    justify-content: start;
  }
  .app-title {
    font-size: 2.5rem; /* Reducimos el tamaño del título */
    margin-bottom: 15px;
  }

  .original-title {
    font-size: 18px; /* Reducimos el tamaño del subtítulo */
  }

  .original-image {
    width: 70%; /* Hacemos la imagen más pequeña en pantallas pequeñas */
  }

  .board-container {
    width: 100%;
    padding: 15px;
    grid-column: 1/4;
  }

  .piece-stack {
    width: 120px; /* Reducimos el tamaño de las piezas */
    height: 120px;
  }
  .board-grid {
    gap: 1px;
  }
}
.back-button {
  background-color: #ffc0cb; /* Color de fondo rosa claro */
  color: #fff; /* Texto blanco */
  font-size: 16px; /* Tamaño de texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 25px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de mano al pasar por encima */
  transition: all 0.3s ease; /* Transición suave */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.back-button:hover {
  background-color: #ff69b4; /* Un rosa más fuerte al pasar el mouse */
  transform: scale(1.05); /* Efecto de expansión */
}

.back-button:focus {
  outline: none; /* Remover contorno de enfoque */
}

.back-button svg {
  margin-right: 8px; /* Separar el icono de texto */
}
/* Centrar el contenedor principal */
.image-selector {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 40px;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

h2 {
  font-size: 32px;
  color: #ff4d84; /* Rosa suave */
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Galería de imágenes, centrada con separación */
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacio más amplio entre las imágenes */
  flex-wrap: wrap; /* Para que las imágenes se ajusten de manera flexible */
  padding: 10px;
}

/* Estilo de cada imagen */
.image-option {
  cursor: pointer;
  text-align: center;
  border: 2px solid #ffccd5; /* Borde rosa claro */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  max-width: 100%;
  background: #fff;
}

.image-option:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); /* Sombra más profunda */
}
.image-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Títulos debajo de cada imagen */
.image-option p {
  margin-top: 15px;
  font-size: 18px;
  color: #ff4d84; /* Rosa suave */
  font-weight: 600;
  letter-spacing: 0.5px;
}
