:root {
  --amarillo-girasol: #ffcc00;
  --oro-claro: #ffd700;
  --naranja-amarillo: #ffa500;
  --beige-claro: #f5f5dc;
  --miel-oscura: #d49b38;
  --verde-oliva-claro: #b5b76b;
  --cafe-claro: #a67c52;
  --negro: #000000; /* Color negro para las letras */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Cinzel", serif;
  height: 100%;
  overflow: hidden; /* Evita el scroll */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background: url("/girasoles.png") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin: 0;
}

/* Background for the app */
.app-container {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 3rem; /* Mayor tamaño para la cabecera */
}

/* Contenedor principal */
.puzzle-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo de la imagen original */
.original-image-container {
  padding: 2em;
  grid-column: 1 / 3; /* La imagen original está en la primera columna */
  text-align: center;
}

.original-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.destello {
  position: absolute;
  top: 30px;
  width: 80%;
  left: 50px;
}
.sized {
  position: relative;
  z-index: 199;
}
.main-title {
  position: relative;
  grid-column: 3/6;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.original-image {
  width: 400px; /* Aumentamos el tamaño de la imagen */
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Más sombra para la imagen */
}

/* Cuadrícula 2x2 con secciones fusionadas */
.game-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  width: 100%;
  max-width: 1000px;
  margin: 1em;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}

/* El puzzle ocupa las columnas 2 y 4 fusionadas */
.puzzle-board-wrapper {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  grid-column: 3/6;
}

.board-slot {
  padding-top: 100%;
  position: relative;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px dashed var(--naranja-amarillo);
}

.board-slot > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Las piezas se colocan en la primera fila de la segunda columna */
.pool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
}

.piece-stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px; /* Mayor tamaño para las piezas */
  height: 160px;
  border: 2px solid var(--naranja-amarillo);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Más sombra */
  transition: transform 0.3s ease;
}

.piece-stack:hover {
  transform: scale(1.1); /* Aumentamos el efecto hover */
}

.piece-stack > div {
  position: absolute;
}

/* Overlay para mostrar mensaje */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 30px;
}
.main-box {
  grid-column: 3/6;
}
.overlay h1 {
  font-size: 4em; /* Aumentamos el tamaño del título */
  margin-bottom: 30px;
}

.overlay p {
  width: 50%;
  font-size: 1.5em; /* Aumentamos el tamaño del texto */
}
.board-grid {
  gap: 3px;
}
.main-title-puzzle {
  font-size: 1.3em;
  font-weight: bold;
  padding: 20px;
  position: relative;
}
/* Responsiveness */
@media (max-width: 768px) {
  body,
  html,
  #root {
  }
  .app-container {
    padding: 0;
    align-content: center;
    height: auto;
  }
  .game-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.3fr;
    padding: 10px; /* Reducimos el padding en dispositivos pequeños */
  }
  .board-container {
    grid-column: 1/2;
  }
  .btn-dev {
    grid-column: 1/4;
  }
  .original-image {
    max-width: 90%; /* Hacemos la imagen más pequeña en dispositivos pequeños */
  }
  .original-image-container {
    grid-column: 2/4;
    padding: 0;
  }
  .pool-container {
    align-self: center;
    grid-column: 1 / 2;
  }

  .puzzle-board-wrapper {
    grid-column: 1 / 2; /* El tablero de puzzle ocupa la fila completa */
  }
  .puzzle-wrapper {
    padding: 10px;
    justify-content: start;
  }
  .app-title {
    font-size: 2.5rem; /* Reducimos el tamaño del título */
    margin-bottom: 15px;
  }

  .original-title {
    font-size: 18px; /* Reducimos el tamaño del subtítulo */
  }

  .original-image {
    width: 70%; /* Hacemos la imagen más pequeña en pantallas pequeñas */
  }

  .board-container {
    width: 100%;
    padding: 15px;
    grid-column: 1/4;
  }

  .piece-stack {
    width: 120px; /* Reducimos el tamaño de las piezas */
    height: 120px;
  }
  .board-grid {
    gap: 1px;
  }
  .back-button {
    width: 100%;
  }
  .image-selector {
    padding: 30px !important;
    max-width: 380px !important;
    max-height: 900px !important;
  }
  .main-title {
    padding: 0.5em;
    font-size: 1.3em;
  }
  .sub-title {
    margin-top: 0;
    font-size: 1.1rem;
  }
  .puzzle-container {
    padding: 20px;
  }
  .check-icon {
    margin-top: 1em !important;
  }
  .main-title-puzzle {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
  .overlay h1 {
    font-size: 3em; /* Aumentamos el tamaño del título */
    margin-bottom: 20px;
  }
  .overlay p {
    width: 80%;
    font-size: 1.2em; /* Aumentamos el tamaño del texto */
  }
}
.back-button {
  background-color: var(--naranja-amarillo); /* Fondo dorado oscuro */
  font-size: 16px; /* Tamaño de texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 25px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de mano al pasar por encima */
  transition: all 0.3s ease; /* Transición suave */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.back-button:hover {
  background-color: var(
    --miel-oscura
  ); /* Un rosa más fuerte al pasar el mouse */
  transform: scale(1.05); /* Efecto de expansión */
}

.back-button:focus {
  outline: none; /* Remover contorno de enfoque */
}

.back-button svg {
  margin-right: 8px; /* Separar el icono de texto */
}
/* Centrar el contenedor principal */
/* Centrar el contenedor principal */
.image-selector {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 50px; /* Aumentamos el padding para que tenga más espacio interno */
  text-align: center;
  max-width: 1100px; /* Aumentamos el max-width para hacerlo más ancho */
  max-height: 800px; /* Establecemos un max-height para hacerlo más alto */
  width: 95%; /* Aumentamos el ancho al 95% */
  height: auto; /* La altura será automática dependiendo del contenido */
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Galería de imágenes, centrada con separación */
/* Galería de imágenes, centrada con separación */
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 40px; /* Aumentamos el espacio entre las imágenes */
  padding: 20px; /* Espaciado interno */
  width: 100%; /* Asegura que el contenedor de la galería ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
  overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
}

/* Estilo de cada imagen */
.image-option {
  cursor: pointer;
  text-align: center;
  border: 1px solid grey; /* Borde naranja */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px; /* Aumentamos el padding */
  border-radius: 15px; /* Bordes redondeados */
  width: 230px; /* Aumentamos el tamaño de las opciones de imagen */
  max-width: 100%;
  background: #fff;
  color: var(--negro); /* Texto negro en las imágenes */
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
}
.completed {
  border: 3px solid var(--naranja-amarillo); /* Borde naranja */
}
.image-option:hover {
  transform: scale(1.1); /* Aumentamos el tamaño al hacer hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Sombra más profunda */
}

.image-thumbnail {
  width: 100%;
  height: 200px; /* Aumentamos la altura de la imagen */
  object-fit: cover; /* Aseguramos que la imagen cubra el espacio sin deformarse */
  border-radius: 10px;
  filter: grayscale(100%);
}
.image-completed {
  filter: grayscale(0%);
}
/* Títulos debajo de cada imagen */
.image-option p {
  margin-top: 15px;
  font-size: 20px; /* Aumentamos el tamaño del texto */
  color: var(--negro); /* Texto negro */
  font-weight: 600;
  letter-spacing: 0.5px;
}
.image-thumbnail-wrapper {
  position: relative;
}

.check-icon {
  margin-top: 3em;
  width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 10;
  color: grey;
}
.check-completed {
  color: var(--naranja-amarillo);
}
